/*Elementos Tarjetas*/
.title-cards {
  width: $AnchoTituloTarjetas;
  max-width: $MaximoAnchoTituloTarjetas;

  margin: auto;
  margin-top: 1.2rem;

  padding: 1.2rem;
  text-align: $AlineacionTextoTarjetas;

  color: $TituloTarjeta;

  transition-property: all;
  transition-duration: 1s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(.73,-0.17,.8,1.44);

  /*transition: all 1s 0s cubic-bezier(.73,-0.17,.8,1.44); pasar parametros todos juntos*/

}

.title-cards:hover {
  width: $AnchoTituloHoverTarjetas;
  background-color: $FondoHoverTitulo;
  color: $TituloTarjeta;
  border-radius: 1rem;
}



.card {
  width: $AnchoTarjetas;
  margin: 1rem;

  background: $FondoTarjeta;
  box-shadow: $SombraTarjeta;

  border-color: $BordeTarjeta;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: all 400ms ease-out;

  overflow: hidden;
  cursor: default;

  &:hover {
    box-shadow: $SombraHoverTarjeta;
    transform: translateY(-3%);
  }
  
  & img {
    width: $AnchoImagenTarjetas;
    height: $AltoImagenTarjetas;
    border-radius: 1rem;
  }

  & .contenido-card {
  padding: 0.8rem;
  text-align: $AlineacionTextoTarjetas;

    & h3 {
      margin-bottom: 1rem;
      color: $SubtituloTarjeta;
      text-shadow: $SombraSubtituloTarjeta;
      font-size: $TamanoTextoSubtituloTarjeta;
    }

    & table {
      color: $TextoTablaTarjeta;
      border-color: $BordesTablaTarjeta;      
    }

    & p {
      line-height: 1.2rem;
      color: $ParrafoTarjeta;
      font-size: $TamanoTextotarjtas;
      margin-bottom: 0.2rem;
    }

    & a {
      display: inline-block;
      padding: 0.5rem;
      
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;

      text-decoration: none;
    }
  }
}



/*Card ciclos*/

@for $numero from 1 through 5 {

  .Box0#{$numero} {
      grid-area: Box0#{$numero};
  }

}

@each $cualquierCosa, $colorDeBox in $coloresBox {

  .Box-#{$cualquierCosa} {
      background-color: $colorDeBox;
  }

}

@each $colorDeFondo in Color01, Color02, Color03, Color04, Color05 {

  .Box-#{$colorDeFondo} {
      background-color: $colorDeFondo;
  }

}