/*Tamaños*/

/*Menu Nav*/
$paddingNav: 0.5rem;
$paddingMenu: 5rem;


/*Titulos Tarjetas*/
$TamanoTextotarjtas: 1rem;
$AnchoTituloTarjetas: 100%;
$AnchoTituloHoverTarjetas: 90%;
$MaximoAnchoTituloTarjetas: 1080px;


/*Tarjetas*/
$AnchoTarjetas: 100%;
$AlineacionTextoTarjetas: center;


/*Imagenes Tarjetas*/
$AnchoImagenTarjetas: 100%;
$AltoImagenTarjetas: 291px;
$TamanoTextoSubtituloTarjeta: 1.5rem;